body {
  display: flex;
  justify-content: center;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.main-container {
  width: 100%;
}

/*mise en style du header**/
header {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: auto;
  justify-content: space-around;
  align-items: center;
}
header img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  margin: 14px auto;
}
@media screen and (min-width: 1024px) {
  header img .img {
    width: 200px;
  }
}

.localisation {
  display: flex;
  background-color: #EAEAEA;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
  height: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1024px) {
  .localisation .localisation {
    box-shadow: none;
  }
}

.icone-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 18px;
  color: #353535;
  margin-right: 17px;
}

.fa-location-dot {
  font-size: 1rem;
  border: none;
}

input {
  border: none;
  background-color: #EAEAEA;
  color: #353535;
  outline: none;
  width: 115px;
}
input::-moz-placeholder {
  color: #353535;
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
  width: 100%;
}
input::placeholder {
  color: #353535;
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
  width: 100%;
}

/* heder des pages menu ****/
.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu .nav-menu {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 42px;
}
.header-menu i {
  margin-left: 17px;
  width: 30px;
  height: 30px;
  font-size: 30px;
}

/*Mise en page des Menus*/
.img-menu {
  display: flex;
  width: 100%;
}
.img-menu img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

/* *******section menu****/
.section-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-right: 0;
  background-color: #EAEAEA;
}
.section-menu h2 {
  text-decoration: none;
  color: #353535;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 10px;
}
.section-menu p {
  font-size: 18px;
  text-decoration: none;
  color: #353535;
  text-align: center;
  padding: 10px;
}
.section-menu .boutton-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: #EAEAEA;
  font-size: 16px;
  width: 218px;
  height: 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-image 0.3s, box-shadow 0.3s;
}
.section-menu .boutton-text:hover {
  background-image: linear-gradient(to bottom, #fface8, #9356DC);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/*section fonctionnement*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 15px;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  padding-bottom: 50px;
}
.fonctionnement .choix {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  border-radius: 20px;
  padding: 4px 19px;
  gap: 10px;
  background-color: #EAEAEA;
  box-shadow: 0 4px 10px 0 #d5d5d5;
  width: 80%;
  position: relative;
  flex-basis: 100%;
}
.fonctionnement .choix p {
  font-weight: bold;
}

.fonctionnement-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  padding-bottom: 10px;
  margin: auto;
  gap: 20px;
  align-items: center;
}
@media all and (min-width: 786px) {
  .fonctionnement-list .fonctionnement-list {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.icon-color {
  color: #9356DC;
}

.icon-color-1 {
  color: grey;
}

.fonctionnement-number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #9356DC;
}

.choix .fonctionnement-number {
  position: absolute;
  left: -13px;
  z-index: 1;
}

/*restaurant**/
.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #EAEAEA;
  padding-bottom: 50px;
}
.restaurant h2 {
  padding-left: 20px;
  margin: 0px;
  padding-top: 20px;
}

.restaurant-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.restaurant-card-content {
  width: 100%;
  background-color: white;
  padding: 5px;
  margin-top: 33px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #DADADA;
  text-decoration: none;
  color: #000;
}
.restaurant-card-content .restaurant-img {
  width: 100%;
  height: 124px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}
.restaurant-card-content .markerinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
  position: absolute;
  right: 40px;
  z-index: 1;
}

.card-title-rest {
  margin: 1px 0px 8px 15px;
}

.card-subtitle-rest {
  margin: 1px 0px 8px 15px;
}

.fa-heart {
  position: relative;
  top: -50px;
  left: 90%;
  width: 22px;
  height: 21px;
}

/**** footer **/
/*Footer Home Page et Menus */
footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #353535;
  color: #d5d5d5;
  padding: 22px 25px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin: 0;
}
footer .propos {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 7px;
}
footer a {
  display: flex;
  gap: 11px;
  align-items: flex-start;
  font-weight: 500;
  color: #d5d5d5;
  text-decoration: none;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
footer i {
  width: 11px;
  height: 13px;
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  footer {
    flex-flow: row-reverse;
    padding: 30px 25px;
    gap: 90px;
  }
  footer .propos {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
  }
}/*# sourceMappingURL=style.css.map */